@model TradersPortal.Models.Trader

@{
	ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Traders", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">
	<h4>Trader</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.TraderId)

	<div class="form-group">
		@Html.LabelFor(model => model.BusinessName, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.BusinessName, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.BusinessName, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.ContactFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.ContactFirstName, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.ContactFirstName, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.ContactLastName, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.ContactLastName, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.ContactLastName, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.RegistrationDate, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.RegistrationDate, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.RegistrationDate, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.TradeId, "TradeId", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("TradeId", null, htmlAttributes: new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.TradeId, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.StateId, "StateId", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("StateId", null, htmlAttributes: new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
		</div>
	</div>

	@if (Model.Files.Any(f => f.FileType == FileType.Avatar))
	{
		<div class="form-group">
			<span class="control-label col-md-2"><strong>Current Avatar</strong></span>
			<div class="col-md-10">
				<img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" />
			</div>
		</div>
	}








	@*end of image display*@
	<div class="panel panel-body" style="min-height:256px">
		<div class="col-md-9">
			<div class="col-md-10">
				<div class="btn btn-primary">
					<input type="file" id="Avatar" name="upload" />
				</div>
			</div>

			<div id="imgPreview" class="thumbnail" style="display:none">
				<img class="img-responsive" id="targetImg" />
				<div class="caption">
					<a href="#" onclick="ClearPreview()"><i class="glyphicon glyphicon-trash"></i></a>
					<span id="description"></span>
				</div>
			</div>

		</div>
	</div>




	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-default" />
		</div>
	</div>
</div>
}



<div>
	<input type="button" value="Back" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary btn-xs " />

</div>






@section scripts{
	<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
	<script>

		$(document).ready(function () {

			$("#Avatar").change(function () {

				var File = this.files;

				if (File && File[0]) {
					ReadImage(File[0]);
				}

			})


		})





		var ReadImage = function (file) {

			var reader = new FileReader;
			var image = new Image;

			reader.readAsDataURL(file);
			reader.onload = function (_file) {

				image.src = _file.target.result;
				image.onload = function () {

					var height = this.height;
					var width = this.width;
					var type = file.type;
					var size = ~~(file.size / 1024) + "KB";

					$("#targetImg").attr('src', _file.target.result);
					$("#description").text("Size:" + size + ", " + height + "X " + width + ", " + type + "");
					$("#imgPreview").show();

				}

			}

		}








		var ClearPreview = function () {
			$("#Avatar").val('');
			$("#description").text('');
			$("#imgPreview").hide();

		}

	</script>

}